
html,
body {
    font-size: 16px;
    background-color: #1b1b1b;
    color: #eaeaea;
    line-height: 1.5rem;
}

.darkmode {
    background-color: hsl(0, 0%, 15%);
}

.lightmode {
    background-color: #fafafa;
}

tr {
    padding: .5rem;
    display: block;
    border-radius: 2px;
}

td {
    padding: .5rem;
    margin: .5rem;
    display: inline-block;
    border-radius: 3px;
}

/**
*
*
*
*
*/
.black {
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 13%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 37%);
    border-left-color: hsl(0, 0%, 57%);
    border-left-width: 3px;
}

.black.invert {
    color: hsl(0, 0%, 13%);
    background-color: hsl(0, 0%, 81%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 44%);
    border-left-color: hsl(0, 0%, 64%);
    border-left-width: 3px;
}

/* red: 0 */
.red {
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 100%, 34%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 100%, 44%);
    border-left-color: hsl(0, 100%, 64%);
    border-left-width: 3px;
}

.red.invert {
    color: hsl(0, 0%, 13%);
    background-color: hsla(0, 100%, 93%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 100%, 44%);
    border-left-color: hsl(0, 100%, 64%);
    border-left-width: 3px;
}

/* orange: 15 */
.orange {
    color: hsl(0, 0%, 98%);
    background-color: hsl(35, 100%, 34%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(35, 100%, 44%);
    border-left-color: hsl(35, 100%, 64%);
    border-left-width: 3px;
}

.orange.invert {
    color: hsl(0, 0%, 13%);
    background-color: hsl(35, 100%, 93%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(35, 100%, 44%);
    border-left-color: hsl(35, 100%, 64%);
    border-left-width: 3px;
}

/* yellow: 40 */
.yellow {
    color: hsl(0, 0%, 98%);
    background-color: hsl(50, 100%, 34%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(50, 100%, 44%);
    border-left-color: hsl(50, 100%, 64%);
    border-left-width: 3px;
}

.yellow.invert {
    color: hsl(0, 0%, 13%);
    background-color: hsl(50, 100%, 93%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(50, 100%, 44%);
    border-left-color: hsl(50, 100%, 64%);
    border-left-width: 3px;
}

/* green: 132 */
/*
    --green-fg-lightmode: 132 60% 30%;
    --green-bg-lightmode: 132 70% 60%;
*/
.green {
    color: hsl(0, 0%, 98%);
    background-color: hsl(132, 60%, 30%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(132, 60%, 40%);
    border-left-color: hsl(132, 70%, 60%);
    border-left-width: 3px;
}

.green.invert {
    color: hsl(0, 0%, 13%);
    background-color: hsl(132, 60%, 91%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(132, 60%, 40%);
    border-left-color: hsl(132, 70%, 60%);
    border-left-width: 3px;
}

/* blue: 201 */
.blue {
    color: hsl(0, 0%, 98%);
    background-color: hsl(201, 100%, 34%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(201, 100%, 44%);
    border-left-color: hsl(201, 100%, 64%);
    border-left-width: 3px;
}

.blue.invert {
    color: hsl(0, 0%, 13%);
    background-color: hsl(201, 100%, 93%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(201, 100%, 44%);
    border-left-color: hsl(201, 100%, 64%);
    border-left-width: 3px;
}

/* indigo: 270 */
.indigo {
    color: hsl(0, 0%, 98%);
    background-color: hsl(275, 100%, 34%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(275, 100%, 44%);
    border-left-color: hsl(275, 100%, 64%);
    border-left-width: 3px;
}

.indigo.invert {
    color: hsl(0, 0%, 13%);
    background-color: hsl(275, 100%, 93%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(275, 100%, 44%);
    border-left-color: hsl(275, 100%, 64%);
    border-left-width: 3px;
}

/* violet: 305 */
.violet {
    color: hsl(0, 0%, 98%);
    background-color: hsl(300, 100%, 34%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(300, 100%, 44%);
    border-left-color: hsl(300, 100%, 64%);
    border-left-width: 3px;
}

.violet.invert {
    color: hsl(0, 0%, 13%);
    background-color: hsl(300, 100%, 93%);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(300, 100%, 44%);
    border-left-color: hsl(300, 100%, 64%);
    border-left-width: 3px;
}

/* LINK */
a,
a:link {
    color: hsl(201, 100%, 34%);
    padding: 1pt 1px 0px 1px;
    text-decoration: none;
    border-bottom: 1px solid hsl(201, 100%, 34%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}

a:link:focus {
    border: 1px solid hsl(201, 100%, 64%);
    background-color: hsl(201, 100%, 93%);
    border-radius: 2px;
    text-decoration:underline;
    outline: none;
}

a:link:hover {
    border: 1px solid hsl(201, 100%, 34%);
    background-color: hsl(201, 100%, 93%);
    border-radius: 2px;
    text-decoration:underline;
    outline: none;
}

/* VISITED */
/* 275 Seems a bit dark for text on a dark background */
a:visited {
    color: hsl(275, 100%, 34%);
    border-bottom: 1px solid hsl(275, 100%, 34%);
}

a:visited:focus {
    border: 1px solid hsl(275, 100%, 34%);
    background-color: hsl(275, 100%, 93%);
    text-decoration:underline;
}

a:visited:hover {
    border: 1px solid hsl(275, 100%, 34%);
    background-color: hsl(275, 100%, 93%);
    text-decoration:underline;
}

/* ACTIVE */
a:active {
    color: hsl(0, 100%, 34%);
    border-bottom: 1px solid hsl(0, 100%, 34%);
}

a:active:hover {
    border: 1px solid hsl(0, 100%, 34%);
    background-color: hsl(5, 100%, 93%);
    text-decoration:underline;
}

a:active:focus {
    border: 1px solid hsl(0, 100%, 34%);
    background-color: hsl(5, 100%, 93%);
    text-decoration:underline;
}
